Ricardo Pinto 47673 <a47673@alunos.isel.pt>
Ricardo Pinto 47673 <a47673@alunos.isel.pt> <40843306+RicardoPinto26@users.noreply.github.com>

Luis Macário 47671 <a47671@alunos.isel.pt>
Luis Macário 47671 <a47671@alunos.isel.pt> <93235497+Luis-Macario@users.noreply.github.com>

Francisco Medeiros 46631 <a46631@alunos.isel.pt>
Francisco Medeiros 46631 <a46631@alunos.isel.pt> <91284180+Francisco-Medeiros00@users.noreply.github.com>